/* for mobile */

.navigation-container {
  display: flex;

  background-color: #add8e6;
}

.navigation-a-link {
  display: flex;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 2px;
  justify-content: space-around;
}

.navigation-li {
  padding: 1%;
  border-right: 1px solid white;
  flex: 1;
}

@media all and (min-width: 600px) {
  .navigation-a-link {
    padding: 14px 16px;
  }
}
